.sidebar {
  width: 260px;
  min-height: 100vh;

  background: linear-gradient(
    180deg,
    #020617,
    #0f172a
  );

  color: white;

  padding: 30px 20px;

  position: sticky;
  top: 0;
}

/* LOGO */

.sidebar-logo {
  margin-bottom: 50px;
}

.sidebar-logo h2 {
  font-size: 34px;
  font-weight: 800;

  background: linear-gradient(
    90deg,
    #06b6d4,
    #2563eb
  );

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* NAV */

.sidebar nav {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

/* LINKS */

.sidebar nav a {
  text-decoration: none;

  color: #cbd5e1;

  display: flex;
  align-items: center;

  gap: 14px;

  padding: 15px 18px;

  border-radius: 14px;

  transition: 0.3s ease;

  font-size: 15px;
  font-weight: 500;
}

/* HOVER */

.sidebar nav a:hover {
  background: rgba(255,255,255,0.08);

  color: white;

  transform: translateX(4px);
}

/* ACTIVE */

.sidebar nav a.active {
  background: linear-gradient(
    90deg,
    #06b6d4,
    #2563eb
  );

  color: white;
}

/* ICONOS */

.sidebar nav a svg {
  font-size: 18px;
}